# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Virtual environment
venv/
.venv/

# Media folders
photos/
videos/

# Metadata cache
.metadata.json

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/